# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*.pyd

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node (future frontend)
node_modules/

# Build
dist/
build/